.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

.page{
  width: 900px;    
  background-color: white;   
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}
